---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Forgot your password?</title>
	</head>
	<body>
		<main>
			<h1>Forgot your password?</h1>
			<form id="form-forgot">
				<label for="form-forgot.email">Email</label>
				<input type="email" id="form-forgot.email" name="email" required /><br />
				<button>Send</button>
				<p id="form-forgot.message"></p>
			</form>
			<a href="/login">Sign in</a>
		</main>
	</body>
</html>

<script>
	const formElement = document.getElementById("form-forgot")!;
	const formErrorElement = document.getElementById("form-forgot.message")!;

	formElement.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const data = {
			email: formData.get("email")
		};
		const response = await fetch("/api/password/reset/session", {
			method: "POST",
			body: JSON.stringify(data)
		});
		if (response.ok) {
			window.location.href = "/reset-password/verify-email";
		} else {
			formErrorElement.innerText = await response.text();
		}
	});
</script>
