---
import { validatePasswordResetSessionRequest } from "@lib/server/password-reset";

const { session, user } = validatePasswordResetSessionRequest(Astro);
if (session === null) {
	return Astro.redirect("/forgot-password");
}
if (!session.emailVerified) {
	return Astro.redirect("/reset-password/verify-email");
}
if (user.registered2FA && !session.twoFactorVerified) {
	return Astro.redirect("/reset-password/2fa");
}
---

<html>
	<head>
		<title>Enter your new password</title>
	</head>
	<body>
		<main>
			<h1>Enter your new password</h1>
			<form id="form-reset">
				<input id="form-reset.email" name="email" value={session.email} hidden required /><br />
				<label for="form-reset.password">Password</label>
				<input type="password" id="form-reset.password" name="password" autocomplete="new-password" required /><br />
				<button>Reset password</button>
				<p id="form-reset.message"></p>
			</form>
		</main>
	</body>
</html>

<script>
	const formElement = document.getElementById("form-reset") as HTMLFormElement;
	const formErrorElement = document.getElementById("form-reset.message") as HTMLElement;

	formElement.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const data = {
			password: formData.get("password")
		};
		const response = await fetch("/api/password-reset/update-password", {
			method: "POST",
			body: JSON.stringify(data)
		});
		if (response.ok) {
			window.location.href = "/";
		} else {
			formErrorElement.innerText = await response.text();
		}
	});
</script>
