---
import { validatePasswordResetSessionRequest } from "@lib/server/password-reset";

const { session } = validatePasswordResetSessionRequest(Astro);
if (session === null) {
	return Astro.redirect("/forgot-password");
}
if (session.emailVerified) {
	if (!session.twoFactorVerified) {
		return Astro.redirect("/reset-password/2fa");
	}
	return Astro.redirect("/reset-password");
}
---

<html>
	<head>
		<title>Verify your email address</title>
	</head>
	<body>
		<main>
			<h1>Verify your email address</h1>
			<p>We sent an 8-digit code to {session.email}.</p>
			<form id="form-verify">
				<label for="form-verify.code">Code</label>
				<input id="form-verify.code" name="code" required />
				<button>verify</button>
				<p id="form-verify.message"></p>
			</form>
		</main>
	</body>
</html>

<script>
	const formElement = document.getElementById("form-verify") as HTMLFormElement;
	const formErrorElement = document.getElementById("form-verify.message") as HTMLElement;

	formElement.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const data = {
			code: formData.get("code")
		};
		const response = await fetch("/api/password-reset/verify-email", {
			method: "POST",
			body: JSON.stringify(data)
		});
		if (response.ok) {
			window.location.href = "/reset-password/2fa";
		} else {
			formErrorElement.innerText = await response.text();
		}
	});
</script>
