---
if (Astro.locals.user === null || Astro.locals.session === null) {
	return Astro.redirect("/login");
}
if (!Astro.locals.user.emailVerified) {
	return Astro.redirect("/verify-email");
}
if (!Astro.locals.user.registeredTOTP) {
	return Astro.redirect("/totp/setup");
}
if (Astro.locals.session.twoFactorVerified) {
	return Astro.redirect("/");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Two-factor authentication</title>
	</head>
	<body>
		<main>
			<h1>Two-factor authentication</h1>
			<form id="form-totp">
				<label for="form-totp.code">Enter the code from your app</label>
				<input id="form-totp.code" name="code" autocomplete="one-time-code" required /><br />
				<button>Verify</button>
				<p id="form-totp.message"></p>
			</form>
			<a href="/recover-account">Use recovery code</a>
		</main>
	</body>
</html>

<script>
	const formElement = document.getElementById("form-totp")!;
	const formErrorElement = document.getElementById("form-totp.message")!;

	formElement.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const data = {
			code: formData.get("code")
		};
		const response = await fetch("/api/totp/verify", {
			method: "POST",
			body: JSON.stringify(data)
		});
		if (response.ok) {
			window.location.href = "/";
		} else {
			formErrorElement.innerText = await response.text();
		}
	});
</script>
