---
if (Astro.locals.user === null || Astro.locals.session === null) {
	return Astro.redirect("/login");
}
if (!Astro.locals.user.emailVerified) {
	return Astro.redirect("/verify-email");
}
if (!Astro.locals.user.registered2FA) {
	return Astro.redirect("/2fa/setup");
}
if (Astro.locals.session.twoFactorVerified) {
	return Astro.redirect("/");
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Recover your account</title>
	</head>
	<body>
		<main>
			<h1>Recover your account</h1>
			<form id="form-recover">
				<label for="form-recover.code">Recovery code</label>
				<input id="form-recover.code" name="code" required /><br />
				<button>Verify</button>
				<p id="form-recover.message"></p>
			</form>
		</main>
	</body>
</html>

<script>
	const formElement = document.getElementById("form-recover") as HTMLFormElement;
	const formErrorElement = document.getElementById("form-recover.message") as HTMLElement;

	formElement.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const data = {
			code: formData.get("code")
		};
		const response = await fetch("/api/user/reset-2fa", {
			method: "POST",
			body: JSON.stringify(data)
		});
		if (response.ok) {
			window.location.href = "/2fa/setup";
		} else {
			formErrorElement.innerText = await response.text();
		}
	});
</script>
